.logo {
  display: inherit;
  text-align: center;
  color: aliceblue;
  background-color: #404040;
  font-size: 36px;
  line-height: 180%;
}
img {
  width: 50%;
  height: 30%;
}
.image-division {
  margin-top: 5%;
}
.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

